@import "~antd/dist/antd.css";

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/****** Navbar ********/
@import url('./components/Navbar/Navbar.css');

/****Carousel****/
@import url('./components//Carousel/Carousel.css');

/**banner**/
@import url('./components/banners/SgBanner.css');

/**********SG tour card*********/
@import url('./components//SgTourCard/SgTourCard.css');

/**********Trending Destinations*********/
@import url('./components//TrendingDestinations/TrendingDestinations.css');

/**********Travel Services*********/
@import url('./components/TravelServices/TravelServices.css');

/********** Contact *********/
@import url('./components/Contact/Contact.css');

/********** Footer *********/
@import url('./components/Footer/Footer.css');